.consultation {
    height: 340px;
    position: relative;
    &__header {
        margin-top: 56px;
        color: #3a3a3a;
        font-size: 28px;
        font-weight: 400;
        line-height: 23px;
    }
    &__img {
        width: 125px;
        background-color: $white;
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }
    &-form {
        margin-top: 71px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 160px;
        padding-left: 160px;
        width: 1140px;
        height: 166px;
        border: solid 1px #898989;
        & input {
            width: 270px;
            height: 45px;
            border-radius: 20px;
            padding-left: 30px;
        }
    }
    &-btn {
        width: 200px;
        background-color: $white;
        position: absolute;
        bottom: 58px;
        transform: translateX(-50%);
        left: 50%;
        z-index: 1;
        & button {
            width: 180px;
        }
    }

}