.questions {
    height: 440px;
    background: url(../img/questions_bg.png) center (center/cover) no-repeat;
    padding-top: 62px;
    &__block {
        margin: 0 auto;
        width: 896px;
        height: 297px;
        background-color: rgba(255, 255, 255, 0.7);
        &-header {
            height: 68px;
            background-color: #25333c;  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 20px auto;
        }
        &-title {
            color: $white;
            font-size: 19px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
        }
        &-subtitle {
            color: $white;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
        }
    }
    &-form {
        margin-top: 18px;
        & input {
            width: 270px;
            height: 45px;
            border-radius: 20px;
            padding-left: 30px;
        }
        & textarea {
            width: 813px;
            max-height: 71px;
            margin-top: 8px;
            padding-top: 18px;
            padding-left: 25px;
            border-radius: 20px;
        }
    }
    & button {
        margin-top: 5px;
    }
}